<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bric</key>
	<true/>
	<key>bric_content1</key>
	<string>Our application uses technologies so that we, and our partners, can remember you and understand how you use our app. To see a complete list of these technologies and to explicitly tell us whether they can be used on your device, click on the "Manage Preferences" button below. To give us your consent, click on the "Accept" button.</string>
	<key>ghostery_dialog_explicit_accept_button_text_color</key>
	<string>#007AFF</string>
	<key>ghostery_dialog_explicit_decline_button_text_color</key>
	<string>#D63300</string>
	<key>ghostery_dialog_other_button_text_color</key>
	<string>#007AFF</string>
	<key>ric</key>
	<string>Our application uses technologies so that we, and our partners, can remember you and understand how you use our app. To see a complete list of these technologies and to tell us whether they can be used on your device, click on the \"Manage Preferences\" button below. Further use of this app will be considered consent.</string>
	<key>ric_bg</key>
	<string>#FFFFFF</string>
	<key>ric_color</key>
	<string>#000000</string>
	<key>ric_learn_more</key>
	<string>Learn More</string>
	<key>ric_max</key>
	<integer>4</integer>
	<key>ric_opacity</key>
	<integer>100</integer>
	<key>ric_session_max</key>
	<integer>4</integer>
	<key>ric_title</key>
	<string>We Care About Your Privacy</string>
	<key>ric_title_color</key>
	<string>#000000</string>
</dict>
</plist>
